:root {
  --accent_1: hsl(180, 62%, 55%);
  --accent_2: hsl(0, 78%, 62%);
  --accent_3: hsl(34, 97%, 64%);
  --accent_4: hsl(212, 86%, 64%);
  --gray_1: hsl(234, 12%, 34%);
  --gray_2: hsl(229, 6%, 66%);
  --gray_3: hsl(0, 0%, 98%);
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-color: var(--gray_3);
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

.header {
  max-width: 580px;
  margin: 0 auto;
  text-align: center;
}

.header__text {
  margin-top: 1.2rem;
}

/* desktop */
@media screen and (min-width: 960px) {
  .features {
    display: grid;
    gap: 2rem;
    grid-template-areas:
      "one two   four"
      "one three four";
    align-items: center;
    margin-top: 4rem;
  }

  .features :nth-child(1) {
    grid-area: one;
  }

  .features :nth-child(2) {
    grid-area: two;
  }

  .features :nth-child(3) {
    grid-area: three;
  }

  .features :nth-child(4) {
    grid-area: four;
  }
}

/* mobile */
@media screen and (max-width: 959px) {
  .features {
    display: grid;
    gap: 2rem;
    margin-top: 4rem;
  }
}
